@import '../variables';

.timeDisplay {
	background: $color-white;
	border: 1px solid $color-light;
	border-radius: 8px;
	box-shadow: 0 $depth-min $color-light;
	color: $color-light;
	display: inline-block;
	font-family: 'Roboto Mono', mono;
	font-size: 64px;
	margin: $margin;
	padding: $padding;
	transition: all $time-fast;
}

.dark {
	background: $color-dark;
	border: 1px solid $color-main;
	box-shadow: 0 $depth-min $color-main;
	color: $color-white;
}
