@import '../variables';

.timeDisplay {
  background: $color-white;
  border: 1px solid $color-dark;
  border-radius: 8px;
  box-shadow: 0 $depth-min $color-dark;
  color: $color-light;
  display: inline-block;
  font-family: 'Roboto Mono', mono;
  font-size: 64px;
  margin: $margin;
  padding: $padding;
}
