$color-main: #336699;
$color-dark: #29527a;
$color-light: #5c85ad;
$color-white: #ebf0f5;

$time-fast: 0.1s;
$time-normal: 0.2s;

$depth-max: 8px;
$depth-min: 4px;
$depth: $depth-max - $depth-min;

$padding: 8px 16px;
$margin: 4px 4px (4px + $depth-min) 4px;
